
<body>
   
    <div class="login-dark">
     <h1> Perfil de Usuario </h1>
 
 
     <table class="table">
        <tbody>
          <tr>
            <td>Nombre</td>
            <td>Otto</td>
          </tr>
          <tr>
            <td>Apellido</td>
            <td>Thornton</td>
          </tr>
          <tr>
            <td>Email</td>
            <td>elfirst@hotmail.com</td>
          </tr>
          <tr>
            <td>Celular</td>
            <td>990429007</td>
          </tr>
          <tr>
            <td>Area</td>
            <td>Contabilidad</td>
          </tr>
                        
        
        </tbody>
      </table>
     



    </div>

    
 </body>
