<div class="fondo">
    <div class="container-fluid">
      <div class="row justify-content-center ">
        
          <div class="card-r ">
            <figure class="img-center">
              <img class="img-fluid" src="assets/img/kisspng.png" alt="" />
            </figure>
            <form >
              <!-- (ngSubmit)="onClick()"> -->
              
              
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label color-important"
                  >Contraseña Actual</label>
                <input
                  type="email"
                  class="form-control"
                  formControlName="antigua"
                />
              </div>



              <div class="mb-3">
                <label
                  for="exampleInputPassword1"  class="form-label color-important"
                  >Contraseña Nueva</label >
                <input
                  type="password"
                  class="form-control"
                  formControlName="nueva"
                />
              </div>

              <div class="mb-3">
                <label
                  for="exampleInputPassword1"  class="form-label color-important"
                  >Repita Contraseña</label >
                <input
                  type="password"
                  class="form-control"
                  formControlName="nueva2"
                />
              </div>




              
              <div class="d-flex align-items-center mb-4">
              <button (click)="__onSubmit()" type="submit" class="btn btn-primary m-auto" routerLink="/principal">
                Actualizar Contraseña
              </button>
            </div>
         
         
         
         
         
  


              <div class="d-flex align-items-center mb-4">
               
                <div class="centering">
                 
                </div>
        
              </div>
            </form>
          </div>
      </div>
    </div>
  </div>
  