<div
  class="modal fade"
  id="exampleModalToggle"
  aria-hidden="true"
  aria-labelledby="exampleModalToggleLabel"
  tabindex="-1"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="exampleModalToggleLabel" 
        style="color: rgba(52,58,64,0.75)">Registrate</h2>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <!-- Comienzo del form -->
        <form [formGroup]="registerForm" class="container add">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Nombre</label>
            <input
              type="text"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              formControlName="nombre"
            />
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Apellido</label>
            <input
              type="text"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              formControlName="apellido"
            />
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label"
              >Email address</label
            >
            <input
              type="email"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              formControlName="email"
            />
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label"
              >Password</label
            >
            <input
              type="password"
              class="form-control"
              id="exampleInputPassword1"
              formControlName="password"
            />
          </div>
        </form>
        <!-- fin del form -->
      </div>
      <div class="modal-footer">
        <button (click)="onClick()"
          class="btn btn-primary"
          data-bs-target="#exampleModalToggle2"
          data-bs-toggle="modal"
          data-bs-dismiss="modal"
        >
          Registrate
        </button>
      </div>
    </div>
  </div>
</div>
<div
  class="modal fade"
  id="exampleModalToggle2"
  aria-hidden="true"
  aria-labelledby="exampleModalToggleLabel2"
  tabindex="-1"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalToggleLabel2">
          Registro exitoso
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        Hemos enviado un mensaje de confirmacion a su correo
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
<a
  class="btn btn-primary m-auto"
  data-bs-toggle="modal"
  href="#exampleModalToggle"
  role="button"
  >Registrate ahora</a
>
