
<body id="page-top">
    
    <section  style="padding: 35px 0px;">
        <div class="container" style="margin-top: 90px;">
            <div class="row justify-content-center" style="margin-bottom: -15px;">
                <div class="login-dark" style="background-image: none;width: 95%;background-color: #F0F2F0;padding: 40px;border-radius: 4px;box-shadow: 3px 3px 4px rgba(0,0,0,0.2);height: auto;">
                    <h2 class="text-center" style="color:  #243B55;font-size: 26px; margin-bottom:50px;">Contratos</h2>
                    <div style="margin-bottom: 45px">
                    <form class="d-flex ">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                      </form>
                    </div>
            
                    <div
                        class="table-responsive table-striped" style="border-radius: 10px;">
                        <table class="table" style="margin:0px;">
                            <thead style="background-color: rgba(52,58,64,0.75);color: rgb(255,255,255);">
                                <tr>
                                    <th class="align-middle">DNI</th>
                                    <th class="align-middle"><strong>Nombre</strong><br></th>
                                    <th class="align-middle"><strong>Apellido</strong><br></th>
                                    <th class="align-middle" style="text-align: center;">Estado</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="align-middle">5986785<br></td>
                                    <td class="align-middle">Sandra Anita<br></td>
                                    <td class="align-middle">Cordova Linares<br></td>
                                    <td class="text-center">Revisado</td>
                                </tr>
                                <tr>
                                    <td class="align-middle">8547965</td>
                                    <td class="align-middle">Adina Soraya<br></td>
                                    <td class="align-middle">Ramirez Junior<br></td>
                                    <td class="text-center">En espera</td>
                                </tr>
                                <tr>
                                    <td class="align-middle">0258741</td>
                                    <td class="align-middle">Victor Victor<br></td>
                                    <td class="align-middle">Suarez Altar<br></td>
                                    <td class="text-center">Revisado</td>
                                </tr>
                                <tr>
                                    <td class="align-middle">8542310</td>
                                    <td class="align-middle">Daniel Pol<br></td>
                                    <td class="align-middle">Gutierrez Salas<br></td>
                                    <td class="text-center">En espera</td>
                                </tr>
                                <tr>
                                    <td class="align-middle">0245987</td>
                                    <td class="align-middle">Victoria Sandra<br></td>
                                    <td class="align-middle">Palomarez Quispe<br></td>
                                    <td class="text-center">Revisado</td>
                                </tr>
                                <tr>
                                    <td class="align-middle">8574236</td>
                                    <td class="align-middle">Angel Juanito<br></td>
                                    <td class="align-middle">Sotomayor Grado</td>
                                    <td class="text-center">En espera</td>
                                </tr>
                            </tbody>
                        </table>
                        
                </div>
            </div>
        </div>
        </div>
    </section>
    
</body>